/*==================
    Start Slider Styles
    ==============*/

.slider {
  margin-block: 50px;
}

.slider .container {
  display: flex;
  gap: 30px;
}

.slider aside {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
}

.slider aside h2 {
  padding: 10px;
  font-size: 18px;
  text-transform: capitalize;
  display: flex;
  gap: 10px;
  align-items: center;
}

.slider aside a {
  padding: 10px;
  color: var(--dark-color);
  border-top: 1px solid var(--border-color);
  text-transform: capitalize;
}

.swiper {
  overflow: hidden;
  flex: 1;
  border-radius: 5px;
}

.swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left top;
}

.swiper .swiper-pagination-bullet {
  background-color: #fff;
  transition: 0.3s ease-in;
}

.swiper .swiper-pagination-bullet-active {
  background-color: var(--main-color);
  width: 30px;
  border-radius: 5px;
}

/*==================
    End Slider Styles
    ==============*/

/*==================
    Start Features Styles
    ==============*/

.features {
  margin-block: 50px;
}

.features .container {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
}

.features .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features .items .item {
  display: flex;
  align-items: center;
  width: 18%;
  min-width: 220px;
  gap: 20px;
  padding-block: 5px;
}

.features .items .item img {
  width: 50px;
}

.features .items .item h4,
.features .items .item p {
  text-transform: capitalize;
}

.features .items .item h4 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.features .items .item p {
  font-size: 12px;
}

/*==================
    End Features Styles
    ==============*/

/*==================
    Start Banners Styles
    ==============*/

.banners {
  margin-block: 50px;
}

.banners .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.banners .container .banner_img {
  width: 32%;
  min-width: 220px;
  position: relative;
}

.banners.second .container .banner_img {
  width: 49%;
}

.banners .container .banner_img img {
  width: 100%;
}

.banners .container .banner_img a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.banners .container .banner_img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    50deg,
    transparent 50%,
    rgba(255, 255, 255, 0.1) 70%,
    transparent 71%
  );
  background-size: 200% 100%;
  background-position: 200% 0;
  transition: 0.3s linear;
}

.banners .container .banner_img:hover::after {
  background-position: -20% 200%;
}

/*==================
    End Benners Styles
    ==============*/

/*==================
    Start Subscription Styles
    ==============*/

.subscription {
  margin-block: 50px;
}

.subscription .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.subscription .box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.subscription .box img {
  width: 70px;
}

.subscription .content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-transform: capitalize;
}

.subscription .subscribe {
  display: flex;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  width: 500px;
}

.subscription input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 15px 25px;
}

.subscription button {
  background-color: var(--main-color);
  border: 0;
  outline: 0;
  width: 150px;
  cursor: pointer;
}

/*==================
    End Subscription Styles
    ==============*/
