/*==================
    Start Footer Styles
    ==============*/

.back {
	background-color: #4d5969;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	color: #fff;
}

/*==================
    End Footer Styles
    ==============*/
